@charset "UTF-8";
        
body {
    background-color: white;
    background-size: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
                            
}

* {
margin: 0px;
padding: 0px;
font-size: 1em;
}

header > h1 {
padding-top: 50px;
font-variant: small-caps;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}

header > p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
width: auto;
}

